/* deleting extra spaces */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  'Roboto', sans-serif;
}
/* styling global button */
.btn{
    font-size: 18px;
    font-weight: 600;
    background-color: #000;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    padding: 15px 35px;
    margin-top: 50px;

}
/* styling header section */
.header-section{
    height: 1000px;
    width: 100%;
    background-image: url("./imgs/elegant-woman.jpg");
    background-position: center;
    background-size: cover;
    color: #fff;
    text-align: center;
}
.header-section h2{
    text-transform: uppercase;
    padding-top: 25%;
    font-weight: 400;
    font-size: 120px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 5px;
}
/* styling banner section */
.banner-section{
    height: 440px;
    width: 100%;
    background-color: #ebe2de;
    text-align: center;
    padding: 140px 200px;
}
.banner-section .banner{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}
.banner-section .banner div{
    align-self: center;
}
/* styling detail section */
.detail-section{
    height: 700px;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 70px 415px;
}
.detail-section div{
    align-self: center;
    padding: 15px 20px;
}
.detail-section .bg-col{
    background-color: #ebe2de;
}
.detail-section div h2{
    float: left;
    padding-left: 30px;
}
.detail-section div p{
    font-weight: 400;
    line-height: 30px;
    padding-left: 100px;
    color: #777;
    font-size: 20px;
}
/* styling contact section */
.contact-section{
    height: 700px;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}
.contact-section .image{
    align-self: center;
    padding-left: 310px;
    padding-right: 40px;
}
.contact-section .image div img{
    height: 100%;
    width: 80%;
}
.contact-section .content{
    align-self: center;
    grid-template-columns: auto;
    text-align: center;
}
.contact-section .content .content-heading{
    align-self: center;
    height: 100%;
}
.contact-section .content .content-heading p i{
    padding: 10px;
    font-size: 30px;
}
.contact-section .content .content-heading h2{
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 3px;
    font-weight: 200;
    padding-bottom: 100px;
}
.contact-section .content .content-detail{
    align-self: center;
    height: 100%;
}
.contact-section .content .content-detail p{
    line-height: 30px;
    color: #555;
    font-size: 20px;
    padding-bottom: 20px;
    padding-left: 185px;
    padding-right: 185px;
}
.contact-section .content .content-detail h2 a{
    color: #000;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 22px;
    text-decoration: none;
    border-bottom: 2px solid #000;
}
/* styling delivery section */
.delivery-section{
    height: 900px;
    width: 100%;
    text-align: center;
}
.delivery-section .delivery-heading h2{
    font-size: 70px;
    padding-top: 50px;
    font-weight: 200;
    font-family: 'Montserrat', sans-serif;
}
.delivery-section .delivery-heading h5{
    font-size: 25px;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 50px;
    letter-spacing: 5px;
}
.delivery-section .image{
    display: grid;
    grid-template-columns: auto auto auto;
    height: 50%;
    width: 100%;
    padding: 0 170px;
    column-gap: 20px;
}
.delivery-section .image .img-1{
    background-image: url("./imgs/elegant-woman.jpg");
    background-position: center;
    background-size: cover;
}
.delivery-section .image .img-2{
    background-image: url("./imgs/32.jpeg");
    background-position: center;
    background-size: cover;
}
.delivery-section .image .img-3{
    background-image: url("./imgs/23.jpeg");
    background-position: center;
    background-size: cover;
}
.delivery-section .delivery-content p{
    padding-left: 400px;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 30px;
    color: #666;
    padding-right: 400px;
    padding-top: 50px;
}
/* styling footer section */
.footer-section{
    height: 700px;
    width: 100%;
    background-color: #ebe2de;
    padding: 80px 202px;
    display: grid;
    grid-template-columns: auto auto auto;
}
.footer-section .social{
    align-self: center;
    height: 100%;
    width: 100%;
}
.footer-section .social h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 400;
}
.footer-section .social p{
    padding-top: 40px;
}
.footer-section .adress{
    align-self: center;
    height: 100%;
    width: 100%;
}
.footer-section .email{
    align-self: center;
    height: 100%;
    width: 100%;
}
.footer-section .email input{
    width:80%;
    padding: 15px;
    font-size: 18px;
    border-radius: 15px;
    border: none;
    float: right;
}
.footer-section .email textarea{
    width:80%;
    padding: 15px;
    font-size: 18px;
    border-radius: 15px;
    border: none;
    float: right;
}
.footer-section .email button{
    border-radius: 15px;
    width: 80%;
    margin-top: 20px;
    float: right;
}